<%- include("../partials/header")%>
<div class="container">
    <h1><%=forum.Forum_name%></h1>
    <p><%=forum.Forum_description%></p>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Thread</th>
              <th scope="col"># of Posts</th>
              <th scope="col">Created By</th>
              <th scope="col">Statistics</th>
              <th scope="col">Last Post</th>
            </tr>
          </thead>
        <tbody>
    <%forum.thread.forEach(function(Thd){%>
        <tr>
            <th scope="row">
                <a href="/forum/<%=forum._id%>/thread/<%=Thd._id%>/show"><%=Thd.Thread_name%></a>
            </th>
            <th scope="row">
                <%=Thd.comments.length%>
            </th>
            <th scope="row">
                <a href=""><%=Thd.author.Name%></a>
            </th>
            <th scope="row">
                0 views 0 responses
            </th>
            <th scope="row">
                12:00 am <a href="">i_rebel_aj</a>
            </th>
        </tr>
    <%})%>
        </tbody>
    </table>
</div>
<a href="/forum/<%=forum._id%>/thread/new" class="btn btn-outline-primary">Create new thread</a>
<a href="" class="btn btn-outline-danger">Delete a Thread</a>
<%-include("../partials/footer")%>