<%- include("../partials/header")%>
<!--==================================================
    Place For Actual HTML Code
======================================================-->
<!--Thread Layout-->
<div class="container">
    <h1>Thread: <%=thread.Thread_name%></h1>
    <hr>
    <div class="card border-info mb-3">
        <div class="card-header text-white bg-info">Description</div>
        <div class="card-body text-info">
          <p class="card-text"><%=thread.Thread_Description%></p>
        </div>
      </div>
<hr>
<!--View all comments-->
<div class="comments">
    <!--Comment Addition Form-->
    <h3>Comments</h3>
    <div class="comment-form">
        <form action="<%=baseURL%>/<%=thread._id%>/comments" method="POST">
            <textarea placeholder="Join The Discussion" name="text"></textarea>
            <img src="https://start-cons.com/wp-content/uploads/2019/03/person-dummy-e1553259379744.jpg" style="width: 50px; height: 50px;">
            <button class="btn btn-outline-primary btn-sm">Post Comment!</button>
        </form>
    </div>
    <div class="alert alert-warning" role="alert">
        (Find Some Pretty Way to display comments)
    </div>
    <hr style="border-width: 10px;">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Comment</th>
              <th scope="col">Author</th>
              <th scope="col">Posted At</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
        <tbody>
    <%thread.comments.forEach(function(cmt){%>
        <tr>
            <th scope="row">
                <%=cmt.text%>
            </th>
            <th scope="row">
                <img src="https://start-cons.com/wp-content/uploads/2019/03/person-dummy-e1553259379744.jpg" style="width: 50px; height: 50px;">
                <a href=""><%=cmt.author.Name%></a>
            </th>
            <th scope="row">
                Time will come here
            </th>
            <%if(cmt.author.id.equals(currentUser._id)){%>
            <th>
                <a href="#" class="btn btn-outline-warning btn-sm" id="edit-comment">Edit</a>
                <form action="#" method="POST">
                    <button class="btn btn-outline-danger btn-sm">Delete</button>
                </form>
                <a href="#" class="btn btn-success btn-sm">Reply</a>
            </th>
            <%}else{%>
                <th>
                    <a href="#" class="btn btn-warning btn-sm">Report</a>
                    <a href="#" class="btn btn-success btn-sm">Reply</a>
                </th>
            <%}%>

        </tr>
    <%})%>
        </tbody>
    </table>  
</div>
</div>



<!--====================================================-->
<!--For the time being add all scripts here only-->
<!--====================================================-->
<script>
    /*
    function toggleEditForum(){
        var x=document.getElementById("edit-comment"){
            //Make edit-comment form toggle
        }
    }
    */
</script>
<%-include("../partials/footer")%>